<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Asegura que el encabezado de autorización se pase a PHP, necesario para autenticación API.
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Elimina la barra diagonal al final de las URLs, para evitar problemas de redirección y SEO.
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=308]

    # Redirige todas las solicitudes a index.php, excepto si el archivo o directorio existe, lo que permite que Laravel maneje las rutas de la aplicación.
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
